* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    line-height: 1.3;
}

body {
    background-color: rgb(43, 42, 42);
}

.navbar {
    position: sticky;
    top: 0;
    background-color: rgb(41, 1, 51);
    color: white;
    height: 55px;
    z-index: 1;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 8px;
}

.navbar a:hover {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid rgb(58, 58, 58);
    border-left: 1px solid rgb(58, 58, 58);
}

.navbar .flex {
    justify-content: space-between;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
}

.flex {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    font-weight: 200;
}

img {
    width: 100%;
}

.intro {
    color: white;
    margin: 150px 0px;
    font-size: 1.75rem;    
}

.grid {
    display: grid;
    max-width: 900px;
    grid-template-columns: repeat(3, 1fr);
    /* border: solid 1px white; */
    gap: 3rem;
    margin-inline: auto;
    padding-block: 2rem;

}
article {
    display: flex;
    position: relative;
    flex-direction: column;
    color: white;
    border: solid white 1px;
    height: auto;
}

article h3, article p {
    text-align: center;
    margin: 10px;
}

article p {
    padding: 10px 10px 100px;
}
footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 20px;
    height: 55px;
    background-color: rgb(41, 1, 51);
    text-align: center;
    color: white;
    margin-top: 100px;
}

.button {
    background-color: rgb(41, 1, 51);
    padding: 5px;
    width: 100px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    transition: background-color .5s ease-in-out;

}

.button:hover {
    background-color: magenta;
    color: black;
}

.button-try-it {
    position: absolute;
    bottom: 10px;
    left: 10px; 
}

.button-code {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
