* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

footer {
    position: aboslute;
    bottom: 0;
    text-align: center;
}

.navbar a {
    text-decoration: none;
}
.container {
    display: flex;
}